@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
body {
    background: linear-gradient(270deg,#3494E6,#EC6EAD);
    font-family: 'Prosto One', cursive;
    color: white;
}

.content {
	margin-top: 5%;
}

.box {
	margin-top: 2%;
	height: 600px;
	width: 400px;
	background: rgba(255, 255, 255, 0.13);
	border-radius: 3%;
	border: 1px solid white;
}

button {
	width: 85px;
	height: 70px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid black	;
	margin-left: 1%;
	margin-top: 5%;
	color: white;
	font-size: large;
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
}

.third {
	width: 275px;
}

#display {
	height: 30px;
}

@media all and (max-width: 640px)
{
	body {
		background: linear-gradient(270deg,#e96443,#904e95);
	}

	.content {
		margin-top: 15%;
	}

	.box {
		margin-top: 10%;
		width: 350px;
	}

	button {
		width: 70px;
		font-size: small;
	}

	.third {
		width: 230px;
	}


}